{
  "name": "toto-stream",
  "version": "1.0.0",
  "scripts": {
    "dev": "next dev",
    "build": "next build",
    "start": "next start"
  },
  "dependencies": {
    "next": "latest",
    "react": "latest",
    "react-dom": "latest",
    "firebase": "^10.0.0",
    "shaka-player": "^4.3.5",
    "lucide-react": "latest",
    "date-fns": "latest"
  },
  "devDependencies": {
    "autoprefixer": "latest",
    "postcss": "latest",
    "tailwindcss": "latest"
  }
  }
