@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #0b0d10;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
